html{
    background-color: bisque;
}

body{
    background-color: blanchedalmond;
}

nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: coral;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    margin-right: 20px;
    padding-bottom: 5px;
    font-size: large;
}

nav a{
    color: black;
    text-decoration: none;
}

h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    size-adjust: ;
}
.grid-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: darksalmon;
    padding: 10px;
}

.item{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.item2{
    background-color: azure;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column: span 2;   
}

.item3{
    background-color: mintcream;
    border: 1px solid black;
    padding: 20px;
    align-content: center;
    text-align: left;
    grid-column: span 3;
}